*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-headings: #2e2f42;
  --button-background-color: #404bbf;
  --filter-btn-border: #f4f4fd;
  --color-logo-web: #4d5ae5;
  --color-logo-studio: #2e2f42;
  --color-headeritem: #2e2f42;
  --background-color-vision: #2e2f42;
  --color-text: #434455;
  --color-team-name: #ffffff;
  --color-text-footer: #f4f4fd;
  --color-card-border: #e7e9fc;
  --footer-logo-studio: #f4f4fd;
  --bg-gradient: linear-gradient( rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/**-------------------Шаблони шрифтів-------------*/
/*стилі лого*/
.styles-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* заголовок рівня h3*/

.titl-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
}

/*Описові тексти*/
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
}

/**--------------HEADER(Top line)-------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-logo-web {
  margin-right: 76px;
  color: var(--color-logo-web, #4d5ae5);
}

.header-logo-studio {
  color: var(--color-logo-studio, #2e2f42);
  margin: 0;
}

.header-address {
  margin-left: auto;
}
.header-contact {
  display: flex;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-headeritem, #2e2f42);
}

.header-item:is(:hover, :focus) {
  color: #404bbf;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:is(:hover, :focus) {
  color: #404bbf;
}

/**----------------Hero images+секція1----------------*/
.vision {
  padding-bottom: 0;
}
.visionhero {
  background-color: var(--background-color-vision, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--bg-gradient) , url(../images/hero-bg-optim.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vision-titl {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 496px;
  margin: auto;
}

.vision-btn {
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 16px 32px;
  margin: 48px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: var(--button-background-color, #404bbf);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.vision-btn:is(:hover, :focus) {
  background-color: var(--button-background-color, #404bbf);
}

.visionstrategy-list {
  display: flex;
  gap: 24px;
}

.visionstrategy-item {
  flex-basis: calc((100% - 72px) / 4);
}

.visionstrategy-titl {
  margin-bottom: 8px;
}

/**----------------секція2------------- */

.benefits-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
}

.benefits-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.benefits-item {
  border: 1px solid var(--color-card-border, #e7e9fc);
}
/**------------------секція3--------------*/

.team {
  background-color: #f4f4fd;
}

.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
  margin: auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 0px 0px 4px 4px;
}

.container-team-name {
  background-color: var(--color-team-name, #ffffff);
  padding: 32px;
  text-align: center;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
  margin-top: 8px;
}

/**-----------Footer--------------*/
.footer {
  /*font-family: */
  background-color: var(--background-color-vision, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo-web {
  color: var(--color-logo-web, #4d5ae5);
}

.footer-logo-studio {
  color: var(--footer-logo-studio, #f4f4fd);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-footer, #f4f4fd);
  margin-top: 16px;
}
.footer-logo {
  max-width: 264px;
}

/**-------------Сторінка портфоліо--------------*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--filter-btn-border, #f4f4fd);
  cursor: pointer;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 4px;
  padding: 12px 24px;
}

.filter-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--button-background-color, #404bbf);
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 48px 24px;   */
  margin-top: 72px;
  row-gap: 48px;
  column-gap: 24px;
}
.category-item {
  flex-basis: calc((100% - 48px) / 3);
}

.category-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
  margin: auto;

  text-align: left;
}
.category-text {
  margin: auto;
  margin-top: 8px;
  text-align: left;
}

.portfolio-titl-img {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-top: none;
}
